body{
   margin-right: 5%;
   margin-left: 5%;
}
nav{
   padding: 10px;
   margin-top: 2%;
   float: right;
   text-decoration: none;
   overflow: hidden;
   font-family: Arial, Helvetica, sans-serif;
   background-color: aliceblue;
  
}
nav a:hover{
background-color: aquamarine;
}

nav a{
   
   color:black;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
   
}

.container{
   justify-content: center;
 padding-top: 150px;
 margin-left: 5%;
 margin-right: 5%;
 clear: both;

   
}
.left-container{
   position: relative;
   float: left;
   width: 50%;
   clear: both;

}

.right-container{  
   position: absolute;
   float: right;
   width: 50%;
   clear: both;
 
 
}

img{
   position: relative;
   border-radius:50%;
     height: 50%;
      width:50%;
       clear: both;
       margin-left: 800px;
  
}
button{
   padding: 10px;
   color: white;
   background-color: blue;
   margin-bottom: 60px;
   border: 0PX;
 }
 .section{
  
   margin-top: 40px;
   background-color:rgb(135, 151, 222);
   opacity: 0.9;
   height: 40%;
   width: 100%;
   clear: both;
   text-decoration: solid;
   
}
.left-section{
   margin: 20px;
  float: left;
  clear: both;

}

.right-section{
   margin: 20px;
   float: right;
    

}
.main-content{
 
   clear: both;
   
}

.main-content h3{
  
   font-size:large ;
   margin-left: 10%;
 
  
}
.left-content img{
   border-radius: 10%;
   margin-bottom: 20px;
   margin-top: 40px;

   width: 20%;
   height: 20%;
   margin-left: 10%;
   float: left;

}
.right-content{
   
   margin-right: 30%; 
   float: right;
   margin-bottom: 10px;

}
.Buttom-section{
   clear: both;
   margin-top: 50%;
   margin-left: 40%;
}
.fa {
   
   padding: 20px;
   font-size: 30px;
   width: 30px;
   text-align: center;
   text-decoration: none;
   border-radius: 50%;
 }
.fa:hover{
   opacity: 0.4;
}
.fa-facebook {
   background: #3B5998;
   color: white;
 }

.fa-twitter {
   background: #55ACEE;
   color: white;
 }
.fa-instagram {
   background: #c91010;
   color: white;
 }
 .fa-linkedin {
   background: #007bb5;
   color: white;
 }
 footer p{
   margin-left: 43%;
}
 @media only screen and (max-width: 600px) {
   
   nav{
      padding: 5px;
      margin-top: 1%;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      background-color: aliceblue;
      margin-right: 5%;
      width: auto;
     
     
   }

   nav a:hover{
      background-color: aquamarine;
      }
      
      nav a{
         
         color:black;
         text-align: center;
         padding: 14px 16px;
         text-decoration: none;
         font-size: 17px;
         text-align: justify;
         font-size: smaller;
         
      }

   .container{
      display: flex;
      justify-content: center;
      padding-top: 100px;
      margin-left: 5%;
      margin-right: 5%;
      clear: both;
     
        
     }
     .left-container{
     
        width: 60%;
        clear: both;
        font-size: 1.2rem;
        text-align:center;
        line-height: 30px;
        margin-top: 40%;
      
     
     }
     
     .right-container{  
   
        width: 100%;
        clear: both;
        right: 20%;
     
     }
     
     .right-container img{
      position: relative;
         margin-left: 50%;
          height: 40%;
           width:50%;
            clear: both;
     }

   
   .section{
      height: 95%;
   width: 100%;
   }
   .main-content h3{
  
      font-size:large ;
      margin-left: 25%;
   }
   .left-content img{
      border-radius: 10%;
      margin-bottom: 20px;
      margin-top: 40px;
      width: 50%;
      height: 20%;
      margin-left: 20%;
      float: left;
   
   }
   .right-content{
      justify-content: center;
      margin-left: 20%;
      float: right;
      margin-bottom: 10px;
      
   }   
.Buttom-section{
   display: flex;
   justify-items: center;
   margin-left: 10%;
   margin-right: 10%;
  
}

.fa {
   
   
   padding: 20px;
   font-size: 30px;
   width: 30px;
   text-align: center;
   text-decoration: none;
   border-radius: 50%;
 }

footer p{
   
   margin-left: 20%;
}
 }
